<html>
    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <p><a href="/">Home Page</a> | Audit Logs Page | <a href="?poll_site=true">Poll Cineplex Website</a></p>
        {%  if message is not None %}
            <p>{{ message }}</p>
        {% endif %}
        {%  for showing in showings %}
            <p>{{ showing }}<br>
                {%  for latest_update in showing.get_latest_updates %}
                    <p>&emsp;{{ latest_update }}</p>
                {% endfor %}
        {% endfor %}
    </body>
</html>