{% load static %}
<html>
    <body>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <p>Home Page | <a href="/audit_logs">Audit Logs Page</a> | <a href="?poll_site=true">Poll Cineplex Website</a></p>
        {%  if message is not None %}
        <p>{{ message }}</p>
        {% endif %}
        <div class="tabs" id="tabs">
            <ul>
                {% for date in dates %}
                    {% if date.get_date == current_date %}
                        <li data-tab="{{date.get_date}}" class="is-active"><a>{{date.get_date}}</a></li>
                    {% else %}
                        <li data-tab="{{date.get_date}}"><a>{{date.get_date}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="tab-content">
            {% for date in dates %}
                {% if date.get_date == current_date %}<div data-content="{{date.get_date}}">{% else %}<div class="is-hidden" data-content="{{date.get_date}}">{% endif %}
                    {%  for movie in date.movieanddateintersection_set.all %}
                        <p>{{ movie.movie }}</p>
                        {%  for showing in movie.movie.showing_set.all %}
                            {% if showing.get_date == date.get_date %}
                                {%  if showing.cc_enabled %}<b>{%  endif %}
                                    {%  if not showing.visible %}<strike>{%  endif %}
                                    <p><a href="{{ showing.payment_url }}">{{ showing }}</a></p>
                                    {%  if not showing.visible %}</strike>{%  endif %}
                                {%  if showing.cc_enabled %}</b>{%  endif %}
                            {%  endif %}
                        {%  endfor %}
                    {%  endfor %}
                </div>
            {%  endfor %}
        </div>
        <script>
        //changes date tab
        $(document).ready(function() {
            $('#tabs li').on('click', function() {
                var tab = $(this).data('tab');

                $('#tabs li').removeClass('is-active');
                $(this).addClass('is-active');

                console.log(tab);

                $('#tab-content div[data-content]').addClass('is-hidden');
                $('div[data-content="' + tab + '"]').removeClass('is-hidden');
            });
        });
</script>
    </body>
</html>